body {
    background: url(bgs/greychev.svg) no-repeat center center fixed;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img:not(:first-child) {
    margin-top: 40%;
}

img:first-child {
    margin-top: 5%;
}